@page
@using RazorPagesLearning.Data.Models
@model RazorPagesLearning.Pages.CalendarAdminModel
@{
    ViewData["Title"] = "CalendarAdmin";
}

<form method="POST" id="CalendarAdminForm">
    <!-- メインレイアウト__2カラム -->
    <article id="Calendar" class="p-main-wrap">
        <section>
            <article class="p-scroll__head">
                <h1>カレンダー</h1>
                <article class="contents">
                    <article class="head-fix">
                        <section class="d-flex justify-content-between">
                            <div class="d-flex u-wrap-mr">
                                <div class="p-datachip">
                                    <p>
                                        <select name="表示期間" id="period">
                                            <option value="cal_1">@Model.viewModel.year[0]</option>
                                            <option value="cal_2">@Model.viewModel.year[1]</option>
                                            <option value="cal_3">@Model.viewModel.year[2]</option>
                                        </select>
                                    </p>
                                </div>
                                <div class="p-datachip">
                                    <h1>土</h1>
                                    <p>
                                        <input type="checkbox" name="" id="saturday" value="">
                                    </p>
                                </div>
                                <div class="p-datachip">
                                    <h1>日</h1>
                                    <p>
                                        <input type="checkbox" name="" id="sunday" value="">
                                    </p>
                                </div>
                                <div>
                                    <button type="button" id="bulk" class="o-button__base ml-3" style="width: 112px;">チェックON/OFF</button>
                                </div>
                            </div>
                            <button type="button" id="update_button" class="o-button__done submit" data-toggle="modal" data-target="#exampleModalLong">更新</button>
                        </section>
                        <div class="o-border__bold"></div>
                    </article>
                </article>
            </article>

            @{
                const int DAY_OF_WEEK = 7;

                string dayName = "";
            }

            @* 3期分のカレンダーを描画 *@
            @for (int i = 1; i <= 3; i++)
            {
                @if (i == 1)
                {
                    @Html.Raw($"<div id=\"cal_{@i}\">")
                }
                else
                {
                    @Html.Raw($"<div id=\"cal_{@i}\" style=\"display: none;\">")
                }

                @Html.Raw("<article class=\"p-scroll__body\">")
                @Html.Raw("<article class=\"scroll-contents\">")

                @* ↓-------------------- 1期分のカレンダーを描画する --------------------↓ *@

                @Html.Raw("<article class=\"d-flex justify-content-center\">")

                @for (int m = 1; m <= 6; m++)
                {
                    @if (m == 4)
                    {
                        @Html.Raw("<article class=\"d-flex justify-content-center mt-3\">")
                    }

                    @if ((m % 3) == 1)
                    {
                        @Html.Raw("<section class=\"p-calendar\">")
                    }
                    else
                    {
                        @Html.Raw("<section class=\"p-calendar ml-4\">")
                    }

                    <table class="table table-bordered">
                        <caption>@Model.viewModel.month[6 * (i - 1) + m - 1] 月</caption>
                        <thead>
                        <th>日</th>
                        <th>月</th>
                        <th>火</th>
                        <th>水</th>
                        <th>木</th>
                        <th>金</th>
                        <th>土</th>
                        </thead>
                        <tbody>

                            @* -------------------------------------- *@
                            @* 1ヶ月分                                *@
                            @* -------------------------------------- *@
                            @{
                                int first = (int)Model.viewModel.dayOfWeeks[6 * (i - 1) + m - 1] + 1;
                                int month = Model.viewModel.numberOfDays[6 * (i - 1) + m - 1];
                                int line = 5;
                            }

                            @* 月初が金曜日で日数が31日、又は土曜日の場合、カレンダーを6行にする*@
                            @if (first >= 6 && month == 31 || first == 7)
                            {
                                line = 6;
                            }
                            @for (int d = 1; d <= (DAY_OF_WEEK * line); d++)
                            {
                                // 1日までのマスの場合
                                if (d < first)
                                {
                                    if (d == 1)
                                    {
                                        @Html.Raw("<tr>")
                                        @*<td></td>*@
                                    }
                                    @Html.Raw("<td></td>")
                                    // 処理をスキップ
                                    continue;
                                }

                                // マス上で日曜日と土曜日の場所判定
                                if ((d % DAY_OF_WEEK) == 1)
                                {
                                    @if (d == 1)
                                    {
                                        @Html.Raw("<tr>")
                                    }
                                    dayName = "dayName=sunday[]";
                                }
                                else if ((d % DAY_OF_WEEK) == 0)
                                {
                                    dayName = "dayName=saturday[]";
                                }
                                else
                                {
                                    dayName = "";
                                }

                                // 年月日を取得
                                int year = int.Parse(Model.viewModel.year[i - 1].Substring(0, 4));

                                int mon = @Model.viewModel.month[6 * (i - 1) + m - 1];

                                int day = d - first + 1;

                                <td>
                                    <section>

                                        @if (month >= day)
                                        {
                                            // 年度を年に変換する
                                            if (mon == 1 || mon == 2 || mon == 3)
                                            {
                                                year = year + 1;
                                            }

                                            string nowYmd = string.Format("{0:D4}/{1:D2}/{2:D2}", year, mon, day);
                                            bool value = Model.viewModel.updateModel.checkBoxes[nowYmd];

                                            <div> @day </div>

                                            if (true == value)
                                            {
                                                <input type="checkbox" @dayName name=@($"viewModel.updateModel.checkBoxes.{nowYmd}") value="true" checked />                                                     
                                            }
                                            else
                                            {
                                                <input type="checkbox" @dayName name=@($"viewModel.updateModel.checkBoxes.{nowYmd}") value="false" /> 
                                            } 
                                        }
                                        else
                                        {
                                            <div class="none">@Html.Raw(day - month)</div>
                                        }

                                    </section>
                                </td>
                                @if ((d % DAY_OF_WEEK) == 0)
                                {
                                    @Html.Raw("</tr>")
                                }
                            }
                            </tbody>
                        </table>
                        @Html.Raw("</section>")
                        @if (0 == (m % 3))
                        {
                            @Html.Raw("</article>")
                        }
                }

                @* ↑-------------------- 1期分のカレンダーを描画する --------------------↑ *@

                @Html.Raw("</article>")
                @Html.Raw("</article>")
                @Html.Raw("</div>")

            }

        </section>
    </article>
</form>
<script>

    $(document).ready(function () {
        //ページを開いたら、ローディング表示を非表示に
        VegaUtility.StaticFunctions.LoadingSplash.hide();
    });

    // 更新ボタン押下
    $('#update_button').click(function () {
        $.confirm({
            title: '更新確認',
            content: 'カレンダーマスタを更新してもよろしいでしょうか?',
            buttons: {
                'OK': function () {
                    var f = $('form');
                    f.attr('action', '?handler=Save');
                    f.submit();
                },
                'キャンセル': function () {
                }
            }
        });
    });

    // 表示するカレンダーを切り替え
    $('#period').change(function () {
        var val = $('#period').val();

        if (val == "cal_1") {
            $("#cal_1").show();
            $("#cal_2").hide();
            $("#cal_3").hide();
        }
        else if (val == "cal_2") {
            $("#cal_2").show();
            $("#cal_1").hide();
            $("#cal_3").hide();
        }
        else {
            $("#cal_3").show();
            $("#cal_1").hide();
            $("#cal_2").hide();
        }
    });

    // チェックがある曜日を一括でON/OFF
    $('#bulk').click(function () {
        var val = ('#' + $('#period').val());

        // もし日曜にチェックが入ったら
        if ($('#sunday').prop('checked')) {
            // チェックを付ける
            $(val).find('input[dayName="sunday[]"]').prop('checked', true);
        }
        else {
            // チェックを外す
            $(val).find('input[dayName="sunday[]"]').prop('checked', false);
        }

        // もし土曜にチェックが入ったら
        if ($('#saturday').prop('checked')) {
            // チェックを付ける
            $(val).find('input[dayName="saturday[]"]').prop('checked', true);
        }
        else {
            // チェックを外す
            $(val).find('input[dayName="saturday[]"]').prop('checked', false);
        }

        // チェックがあればマスを赤くする
        $('.p-calendar').find("input[type='checkbox']:checked").parents('td').addClass("isActive");
        // チェックがなければマスを白くする
        $('.p-calendar').find("input:checkbox:not(:checked)").parents('td').removeClass("isActive");
    });
</script>