@page
@model RazorPagesLearning.Pages.DeliveryAdminEditModel
@{
    ViewData["Title"] = "DeliveryAdminEdit";
}

<div class="p-page-title">
    荷主メニュー/集配先マスタ一覧/
    <span>集荷先登録</span>
</div>
<!-- メインレイアウト__2カラム -->
<article id="DeliveryAdminEdit" class="p-main-wrap">
    <section>

        <!-- エラーメッセージ表示 -->
        @if (null != Model.viewModel.errorMessage)
        {
            <div class="o-message__error" role="alert">
                @foreach (var ele in Model.viewModel.errorMessage)
                {
                    <p>
                        @ele
                    </p>
                }
            </div>
        }

        <form method="post" id="deliveryAdminEditForm">

            <input type="hidden" asp-for="@Model.viewModel.DELIVERY_ADMIN.ID" />
            <input type="hidden" asp-for="@Model.viewModel.DELIVERY_ADMIN.DELIVERY_CODE" />
            <input type="hidden" asp-for="@Model.viewModel.DELIVERY_ADMIN.SHIPPER_CODE" />
            
            @{  string buttonId = "createButton";
                string buttonCaption = "登録";
                bool isDisabled = false;
                if (DeliveryAdminEditModel.Mode.Update == Model.viewModel.mode)
                {
                    buttonId = "updateButton";
                    buttonCaption = "更新";
                    isDisabled = true;
                }
            }


            <article class="p-scroll__head">
                <h1>集配先登録</h1>
                <article>
                    <article class="p-buttom-wrap">
                        <button type="button" class="o-button__new" id="@buttonId">@buttonCaption</button>
                        <button type="submit" class="o-button__base" asp-page-handler="back">戻る</button>
                    </article>
                    <div class="o-border__bold"></div>
                </article>
            </article>
            <article class="p-scroll__body">
                <article class="d-flex justify-content-between p-4">
                    <div style="width: 45%;">
                        <h1 class="o-title__blank__sub">基本情報</h1>
                        <div class="p-form-list">
                            <h1>社名</h1>
                            @if (!isDisabled)
                            {
                                <div>
                                    <input asp-for="@Model.viewModel.DELIVERY_ADMIN.COMPANY" maxlength="72" placeholder="文字72字" />
                                </div>
                            }
                            else
                            {
                                <div class="off">
                                    <input class="off" disabled asp-for="@Model.viewModel.DELIVERY_ADMIN.COMPANY" maxlength="72" placeholder="文字72字" />
                                </div>
                            }
                            <span asp-validation-for="@Model.viewModel.DELIVERY_ADMIN.COMPANY" class="text-danger"></span>
                        </div>
                        <div class="p-form-list">
                            <h1>部署名</h1>
                            @if (!isDisabled)
                            {
                                <div>
                                    <input asp-for="@Model.viewModel.DELIVERY_ADMIN.DEPARTMENT" maxlength="72" placeholder="文字72字" />
                                </div>
                            }
                            else
                            {
                                <div class="off">
                                    <input class="off" disabled asp-for="@Model.viewModel.DELIVERY_ADMIN.DEPARTMENT" maxlength="72" placeholder="文字72字" />
                                </div>
                            }
                        </div>
                        <div class="p-form-list">
                            <h1>担当者名</h1>
                            @if (!isDisabled)
                            {
                                <div>
                                    <input asp-for="@Model.viewModel.DELIVERY_ADMIN.CHARGE_NAME" maxlength="72" placeholder="文字72字" />
                                </div>
                            }
                            else
                            {
                                <div class="off">
                                    <input class="off" disabled asp-for="@Model.viewModel.DELIVERY_ADMIN.CHARGE_NAME" maxlength="72" placeholder="文字72字" />
                                </div>
                            }
                        </div>
                        <div class="p-form-list">
                            <h1>郵便番号</h1>
                            <section class="d-flex">
                                @if (!isDisabled)
                                {
                                    <div class="e-flex-grow-1">
                                        <input asp-for="@Model.viewModel.DELIVERY_ADMIN.ZIPCODE" maxlength="8" placeholder="半角数字8桁" />
                                    </div>
                                }
                                else
                                {
                                    <div class="e-flex-grow-1 off">
                                        <input class="off" disabled asp-for="@Model.viewModel.DELIVERY_ADMIN.ZIPCODE" maxlength="8" placeholder="半角数字8桁" />
                                    </div>
                                }
                                @* 入力された郵便番号を元に住所を表示する *@
                                <button type="button" class="o-button__base ml-3"
                                        onclick="AjaxZip3.zip2addr('viewModel.DELIVERY_ADMIN.ZIPCODE', '', 'viewModel.DELIVERY_ADMIN.ADDRESS1', 'viewModel.DELIVERY_ADMIN.ADDRESS2');">
                                    住所を表示
                                </button>
                                <span asp-validation-for="@Model.viewModel.DELIVERY_ADMIN.ZIPCODE" class="text-danger"></span>
                            </section>
                        </div>
                        <div class="p-form-list">
                            <h1>住所1</h1>
                            @if (!isDisabled)
                            {
                                <div>
                                    <input asp-for="@Model.viewModel.DELIVERY_ADMIN.ADDRESS1" maxlength="72" placeholder="文字72字" />
                                </div>
                            }
                            else
                            {
                                <div class="off">
                                    <input class="off" disabled asp-for="@Model.viewModel.DELIVERY_ADMIN.ADDRESS1" maxlength="72" placeholder="文字72字" />
                                </div>
                            }
                            <span asp-validation-for="@Model.viewModel.DELIVERY_ADMIN.ADDRESS1" class="text-danger"></span>
                        </div>
                        <div class="p-form-list">
                            <h1>住所2</h1>
                            @if (!isDisabled)
                            {
                                <div>
                                    <input asp-for="@Model.viewModel.DELIVERY_ADMIN.ADDRESS2" maxlength="72" placeholder="文字72字" />
                                </div>
                            }
                            else
                            {
                                <div class="off">
                                    <input class="off" disabled asp-for="@Model.viewModel.DELIVERY_ADMIN.ADDRESS2" maxlength="72" placeholder="文字72字" />
                                </div>
                            }
                        </div>
                        <div class="p-form-list">
                            <h1>TEL</h1>
                            @if (!isDisabled)
                            {
                                <div>
                                    <input asp-for="@Model.viewModel.DELIVERY_ADMIN.TEL" maxlength="14" placeholder="半角数字14桁" />
                                </div>
                            }
                            else
                            {
                                <div class="off">
                                    <input class="off" disabled asp-for="@Model.viewModel.DELIVERY_ADMIN.TEL" maxlength="14" placeholder="半角数字14桁" />
                                </div>
                            }
                            <span asp-validation-for="@Model.viewModel.DELIVERY_ADMIN.TEL" class="text-danger"></span>
                        </div>
                        <div class="p-form-list">
                            <h1>FAX</h1>
                            @if (!isDisabled)
                            {
                                <div>
                                    <input asp-for="@Model.viewModel.DELIVERY_ADMIN.FAX" maxlength="14" placeholder="半角数字14桁" />
                                </div>
                            }
                            else
                            {
                                <div class="off">
                                    <input class="off" disabled asp-for="@Model.viewModel.DELIVERY_ADMIN.FAX" maxlength="14" placeholder="半角数字14桁" />
                                </div>
                            }
                            <span asp-validation-for="@Model.viewModel.DELIVERY_ADMIN.FAX" class="text-danger"></span>
                        </div>
                        <div class="p-form-list">
                            <h1>便</h1>
                            @if (!isDisabled)
                            {
                                <div>
                                    <select asp-for="@Model.viewModel.DELIVERY_ADMIN.DEFAULT_FLIGHT_CODE" asp-items="Model.viewModel.flights"></select>
                                </div>
                            }
                            else
                            {
                                <div class="off">
                                    <select class="off" disabled asp-for="@Model.viewModel.DELIVERY_ADMIN.DEFAULT_FLIGHT_CODE" asp-items="Model.viewModel.flights"></select>
                                </div>
                            }
                        </div>
                        <div class="p-form-list">
                            <h1>メールアドレス</h1>
                            @if (!isDisabled)
                            {
                                <div>
                                    <input asp-for="@Model.viewModel.DELIVERY_ADMIN.MAIL" maxlength="50" placeholder="半角英数50文字" />
                                </div>
                            }
                            else
                            {
                                <div class="off">
                                    <input class="off" disabled asp-for="@Model.viewModel.DELIVERY_ADMIN.MAIL" maxlength="50" placeholder="半角英数50文字" />
                                </div>
                            }
                            <span asp-validation-for="@Model.viewModel.DELIVERY_ADMIN.MAIL" class="text-danger"></span>
                        </div>
                    </div>
                    <div style="width: 45%;">
                        <h1 class="o-title__blank__sub">同時配信メール</h1>
                        <div class="p-form-list">
                            <h1>メールアドレス 1 </h1>
                            <div>
                                <input asp-for="@Model.viewModel.DELIVERY_ADMIN.MAIL1" maxlength="50" placeholder="半角英数50文字">
                            </div>
                            <span asp-validation-for="@Model.viewModel.DELIVERY_ADMIN.MAIL1" class="text-danger"></span>
                        </div>
                        <div class="p-form-list">
                            <h1>メールアドレス 2 </h1>
                            <div>
                                <input asp-for="@Model.viewModel.DELIVERY_ADMIN.MAIL2" maxlength="50" placeholder="半角英数50文字">
                            </div>
                            <span asp-validation-for="@Model.viewModel.DELIVERY_ADMIN.MAIL2" class="text-danger"></span>
                        </div>
                        <div class="p-form-list">
                            <h1>メールアドレス 3 </h1>
                            <div>
                                <input asp-for="@Model.viewModel.DELIVERY_ADMIN.MAIL3" maxlength="50" placeholder="半角英数50文字">
                            </div>
                            <span asp-validation-for="@Model.viewModel.DELIVERY_ADMIN.MAIL3" class="text-danger"></span>
                        </div>
                        <div class="p-form-list">
                            <h1>メールアドレス 4 </h1>
                            <div>
                                <input asp-for="@Model.viewModel.DELIVERY_ADMIN.MAIL4" maxlength="50" placeholder="半角英数50文字">
                            </div>
                            <span asp-validation-for="@Model.viewModel.DELIVERY_ADMIN.MAIL4" class="text-danger"></span>
                        </div>
                        <div class="p-form-list">
                            <h1>メールアドレス 5 </h1>
                            <div>
                                <input asp-for="@Model.viewModel.DELIVERY_ADMIN.MAIL5" maxlength="50" placeholder="半角英数50文字">
                            </div>
                            <span asp-validation-for="@Model.viewModel.DELIVERY_ADMIN.MAIL5" class="text-danger"></span>
                        </div>
                        <div class="p-form-list">
                            <h1>メールアドレス 6 </h1>
                            <div>
                                <input asp-for="@Model.viewModel.DELIVERY_ADMIN.MAIL6" maxlength="50" placeholder="半角英数50文字">
                            </div>
                            <span asp-validation-for="@Model.viewModel.DELIVERY_ADMIN.MAIL6" class="text-danger"></span>
                        </div>
                        <div class="p-form-list">
                            <h1>メールアドレス 7 </h1>
                            <div>
                                <input asp-for="@Model.viewModel.DELIVERY_ADMIN.MAIL7" maxlength="50" placeholder="半角英数50文字">
                            </div>
                            <span asp-validation-for="@Model.viewModel.DELIVERY_ADMIN.MAIL7" class="text-danger"></span>
                        </div>
                        <div class="p-form-list">
                            <h1>メールアドレス 8 </h1>
                            <div>
                                <input asp-for="@Model.viewModel.DELIVERY_ADMIN.MAIL8" maxlength="50" placeholder="半角英数50文字">
                            </div>
                            <span asp-validation-for="@Model.viewModel.DELIVERY_ADMIN.MAIL8" class="text-danger"></span>
                        </div>
                        <div class="p-form-list">
                            <h1>メールアドレス 9 </h1>
                            <div>
                                <input asp-for="@Model.viewModel.DELIVERY_ADMIN.MAIL9" maxlength="50" placeholder="半角英数50文字">
                            </div>
                            <span asp-validation-for="@Model.viewModel.DELIVERY_ADMIN.MAIL9" class="text-danger"></span>
                        </div>
                        <div class="p-form-list">
                            <h1>メールアドレス 10 </h1>
                            <div>
                                <input asp-for="@Model.viewModel.DELIVERY_ADMIN.MAIL10" maxlength="50" placeholder="半角英数50文字">
                            </div>
                            <span asp-validation-for="@Model.viewModel.DELIVERY_ADMIN.MAIL10" class="text-danger"></span>
                        </div>
                    </div>
                </article>
            </article>

        </form>
    </section>
</article>


<!-- 郵便番号読み取りライブラリをロード -->
<script src="https://ajaxzip3.github.io/ajaxzip3.js" charset="UTF-8"></script>

<!-- バリデーションライブラリをロード -->
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>

<script>
    $(function () {
        //ページを開いたら、ローディング表示を非表示に
        VegaUtility.StaticFunctions.LoadingSplash.hide();

        //チェックボックスのクリック時にチェック状態と
        //要素のvalueの状態を同期させる
        //これを入れないと、ASPで要素の選択状態を切り替えた後にpostした時に、
        //正しくpostされるデータにチェック状態が反映されない。
        VegaUtility.StaticFunctions.ASPHelper.registerEvent_SynchronizeTheCheckboxValue();

        //テーブルをセットアップする
        VegaUtility.StaticFunctions.TableHelper.setupTable(
            {
                //テーブル要素のID
                tableElementID: "#searchTable",
                //テーブル共通機能領域のサイズ(縦領域算出用)
                tableCommonFunctionElementID: "#TableOperationFunctions",
                //列左端　スクロール固定列数
                leftScrollFixedColumns: 2,
                //列のデフォルトカラムサイズ(省略可)
                columnSize: [
                    { width: '1rem', targets: 0 },
                    { width: '2rem', targets: 1 }
                ]
            }
        );
    });

    ////////////////////////////////////////////////////////////////////////////////////////////////
    // 登録ボタン押下
    ////////////////////////////////////////////////////////////////////////////////////////////////
    $('#createButton').click(function () {
        let form = $('#deliveryAdminEditForm');
        let title = '登録確認';
        let content = '集配先マスタ情報を登録してもよろしいでしょうか?';
        let handler = 'create';
        confirmOkCancel(form, title, content, handler);
    });

    ////////////////////////////////////////////////////////////////////////////////////////////////
    // 更新ボタン押下
    ////////////////////////////////////////////////////////////////////////////////////////////////
    $('#updateButton').click(function () {
        let form = $('#deliveryAdminEditForm');
        let title = '更新確認';
        let content = '集配先マスタ情報を更新してもよろしいでしょうか?';
        let handler = 'update';
        confirmOkCancel(form, title, content, handler);
    });

    ////////////////////////////////////////////////////////////////////////////////////////////////
    // postするためにdisabled属性を外す
    ////////////////////////////////////////////////////////////////////////////////////////////////
    let rmAttrDisabled = function () {
        $('#viewModel_DELIVERY_ADMIN_COMPANY').prop('disabled', false);
        $('#viewModel_DELIVERY_ADMIN_DEPARTMENT').prop('disabled', false);
        $('#viewModel_DELIVERY_ADMIN_CHARGE_NAME').prop('disabled', false);
        $('#viewModel_DELIVERY_ADMIN_ZIPCODE').prop('disabled', false);
        $('#viewModel_DELIVERY_ADMIN_ADDRESS1').prop('disabled', false);
        $('#viewModel_DELIVERY_ADMIN_ADDRESS2').prop('disabled', false);
        $('#viewModel_DELIVERY_ADMIN_TEL').prop('disabled', false);
        $('#viewModel_DELIVERY_ADMIN_FAX').prop('disabled', false);
        $('#viewModel_DELIVERY_ADMIN_DEFAULT_FLIGHT_CODE').prop('disabled', false);
        $('#viewModel_DELIVERY_ADMIN_MAIL').prop('disabled', false);
    };

    ////////////////////////////////////////////////////////////////////////////////////////////////
    // バリデーションチェック後、確認画面を表示してPOST実行
    ////////////////////////////////////////////////////////////////////////////////////////////////
    let confirmOkCancel = function (form, title, content, handler) {
        // バリデーションチェック
        let isTargetValid = $(form).valid();
        let isNeedConfirm = VegaUtility.StaticFunctions.ConfirmationDialog.isNeedShow();

        // 送信関数
        let postFunc = function () {
            VegaUtility.StaticFunctions.PopUp.show();
            rmAttrDisabled();
            $(form).attr('action', '?handler=' + handler);
            $(form).submit();
        };

        if (true == isTargetValid) {
            if (true == isNeedConfirm) {
                $.confirm({
                    title: title,
                    content: content,
                    buttons: {
                        'OK': function () {
                            postFunc();
                        },
                        'キャンセル': function () {
                        }
                    }
                });
            }
            else {
                postFunc();
            }
        }
        else {
            $.alert({
                title: '確認',
                content: '入力間違えを修正してください。'
            });
        }
    };



</script>