@page
@model RazorPagesLearning.Pages.HomeModel
@{
    ViewData["Title"] = "Home";
}

<article id="Home">
    <div class="p-page-title">
        <span>ホーム</span>
    </div>
    <article class="c-o-plate__base h-100">
        <article class="p-scroll__head j-scroll__head__main">
            <article>
                <article class="p-user-name">
                    <p class="p-usr-name__icon">
                        <img src="../img/user.svg" alt="" width="38">
                    </p>
                    <p>　@Model.viewModel.name 様</p>
                </article>
                @* 荷主、運送会社権限のみ もしくは、有効期限の表示が必要な場合のみ *@
                @if ((true == User.IsInRole(RazorPagesLearning.Data.Models.USER_ACCOUNT.ACCOUNT_PERMISSION.ShipperBrowsing.ToString()))
                    || (true == User.IsInRole(RazorPagesLearning.Data.Models.USER_ACCOUNT.ACCOUNT_PERMISSION.ShipperEditing.ToString()))
                    || (true == User.IsInRole(RazorPagesLearning.Data.Models.USER_ACCOUNT.ACCOUNT_PERMISSION.ShippingCompany.ToString()))
                    || (Model.viewModel.changePasswordMessageFlag == true))
                {
                    <article class="page-home__massage">
                        @* 荷主、運送会社権限のみ *@
                        @if ((true == User.IsInRole(RazorPagesLearning.Data.Models.USER_ACCOUNT.ACCOUNT_PERMISSION.ShipperBrowsing.ToString()))
                         || (true == User.IsInRole(RazorPagesLearning.Data.Models.USER_ACCOUNT.ACCOUNT_PERMISSION.ShipperEditing.ToString()))
                         || (true == User.IsInRole(RazorPagesLearning.Data.Models.USER_ACCOUNT.ACCOUNT_PERMISSION.ShippingCompany.ToString())))
                        {
                            <div class="c-o-plate__message">60分以上操作が行われ無かった場合は、自動的にログオフされます。</div>
                        }
                        @* 期限が無限ではなく、有効期日が近づいているユーザーのみ *@
                        @if (Model.viewModel.changePasswordMessageFlag == true)
                        {
                            <div class="c-o-plate__error">パスワード有効期間切れ：残り @Model.viewModel.changePasswordIntervalDate 日でパスワードの有効期間が切れます。</div>
                        }

                    </article>
                }
                @* 荷主、運送会社権限のみ *@
                @if ((true == User.IsInRole(RazorPagesLearning.Data.Models.USER_ACCOUNT.ACCOUNT_PERMISSION.ShipperBrowsing.ToString()))
                    || (true == User.IsInRole(RazorPagesLearning.Data.Models.USER_ACCOUNT.ACCOUNT_PERMISSION.ShipperEditing.ToString()))
                    || (true == User.IsInRole(RazorPagesLearning.Data.Models.USER_ACCOUNT.ACCOUNT_PERMISSION.ShippingCompany.ToString())))
                {
                    <article>
                        <div class="p-card___news c-o-plate__base">
                            <h1 class="o-plate__title">ご利用ユーザ様各位</h1>
                            <ul class="f-scroll" style="height: 162px;">
                                <li>@Model.viewModel.MESSAGE_ADMIN.MESSAGE</li>
                            </ul>
                        </div>
                    </article>
                }

            </article>
        </article>
        @* 管理者、作業者権限のみ *@
        @if ((true == User.IsInRole(RazorPagesLearning.Data.Models.USER_ACCOUNT.ACCOUNT_PERMISSION.Admin.ToString()))
          || (true == User.IsInRole(RazorPagesLearning.Data.Models.USER_ACCOUNT.ACCOUNT_PERMISSION.Worker.ToString())))
        {
            <article class="p-scroll__body j-scroll__body__main">
                <div class="p-table">
                    <table class="table-bordered">
                        <thead>
                            <tr>
                                <th style="width:20rem;">▼荷主コード</th>
                                <th>▼荷主名</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var elm in Model.viewModel.SHIPPER_ADMINs)
                            {
                                <tr>
                                    @* 対象の荷主コードを送信して再描画 *@
                                    <td><a asp-page="./Home" asp-route-shipper="@elm.SHIPPER_CODE">@elm.SHIPPER_CODE</a></td>
                                    <td>@elm.SHIPPER_NAME</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </article>
        }
    </article>
</article>

<script>

    $(document).ready(function () {
        //ページを開いたら、ローディング表示を非表示に
        VegaUtility.StaticFunctions.LoadingSplash.hide();
    });

</script>