@page
@using RazorPagesLearning.Data.Models
@model RazorPagesLearning.Pages.PolicyModel
@{
    POLICY policyModel = null;
    int value = 0;
    ViewData["Title"] = "Policy";
}

<form method="POST" id="PolicyForm">

    <article id="Calendar" class="p-main-wrap">
        <section>
            <h1 class="title">セキュリティポリシー管理</h1>
            <article>
                <div class="p-buttom-wrap">
                    <div class="o-button__done" id="update_button">更新</div>
                </div>
                <div class="o-border__bold"></div>
                <div class="p-form-list">
                    <h1>パスワード文字数</h1>
                    @{
                        policyModel = Model.viewModel.POLICies.SingleOrDefault(e => e.NAME == POLICY.PASSWORD_POLICY.Digit);
                        value = (null != policyModel) ? policyModel.VALUE : 0;
                    }
                    <div>
                        <input type="text" value=@value asp-for="@Model.viewModel.updateModel.policyDigit" />
                        <span asp-validation-for="@Model.viewModel.updateModel.policyDigit" class="text-danger"></span>
                    </div>
                </div>
                <div class="p-form-list">
                    <h1>パスワード変更期日</h1>
                    @{
                        policyModel = Model.viewModel.POLICies.SingleOrDefault(e => e.NAME == POLICY.PASSWORD_POLICY.Interval);
                        value = (null != policyModel) ? policyModel.VALUE : 0;
                    }
                    <div>
                        <input type="text" value=@value asp-for="@Model.viewModel.updateModel.policyInterval" />
                        <span asp-validation-for="@Model.viewModel.updateModel.policyInterval" class="text-danger"></span>
                    </div>
                </div>
                <div class="p-form-list">
                    <h1>パスワード変更通知日</h1>
                    @{
                        policyModel = Model.viewModel.POLICies.SingleOrDefault(e => e.NAME == POLICY.PASSWORD_POLICY.Notify);
                        value = (null != policyModel) ? policyModel.VALUE : 0;
                    }
                    <div>
                        <input type="text" value=@value asp-for="@Model.viewModel.updateModel.policyNotify" />
                        <span asp-validation-for="@Model.viewModel.updateModel.policyNotify" class="text-danger"></span>
                    </div>
                </div>
                <div class="p-form-list">
                    <h1>パスワード再利用回数</h1>
                    @{
                        policyModel = Model.viewModel.POLICies.SingleOrDefault(e => e.NAME == POLICY.PASSWORD_POLICY.Reuse);
                        value = (null != policyModel) ? policyModel.VALUE : 0;
                    }
                    <div>
                        <input type="text" value=@value asp-for="@Model.viewModel.updateModel.policyReuse" />
                        <span asp-validation-for="@Model.viewModel.updateModel.policyReuse" class="text-danger"></span>
                    </div>
                </div>
            </article>
        </section>
    </article>
</form>
<script>
    $(document).ready(function () {
        //ページを開いたら、ローディング表示を非表示に
        VegaUtility.StaticFunctions.LoadingSplash.hide();
    });
    // 更新ボタン押下
    $('#update_button').click(function () {
        var isTargetValid = $('#PolicyForm').valid();
        if (true == isTargetValid) {
            $.confirm({
                title: '更新確認',
                content: 'セキュリティポリシーを更新してもよろしいでしょうか?',
                buttons: {
                    'OK': function () {
                        var f = $('form');
                        f.attr('action', '?handler=Save');
                        f.submit();
                        //postFunc();
                    },
                    'キャンセル': function () {
                    }
                }
            });
        }
        else {
            $.alert({
                title: '確認',
                content: '入力内容を修正してください。',
            });
        }
    });
</script>

<!-- バリデーションライブラリをロード -->
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>
